
body {

    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2ede3;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
}

h1 {
    background: #ea4c88;
}
#container {
    width: 960px;
    margin: 0 auto;

}
#primary {
    float: left;
    width: 240px;
    background: #909090;
}
#content {
    float: left;
    width: 480px;
}
#secondary {
    float: left;
    width: 240px;
}
#footer {
    clear: both;
}